SPRING_PROFILES_ACTIVE=<your_profile_here>
SERVER_PORT=<your_port_here>
DATABASE_URL=<your_database_url_here>
DB_NAME=<your_db_name_here>
DATABASE_USERNAME=<your_db_username_here>
DATABASE_PASSWORD=<your_db_password_here>
DB_PORT=<your_db_port_her>
DB_HOST=<your_db_host_here>